
input{
    margin : 20px;
}
.example-card {
    max-width: 400px;
    margin:auto;
    margin-top: 100px;
    background-color: rgb(236, 219, 195);
  }
// form{
//     width: 100%;
// }
textarea{
    margin-left:20px;
    height: 70px;
}
// .buttonclass{
//    margin-left:200px;
//    margin-bottom: 20px;
// }
.successful{
    color: green;
    margin:auto;
}



