
<mat-toolbar color="primary" class="mat-toolbar mat-primary mat-toolbar-single-row" style="display: flex; justify-content: space-between;">
  <div class="page-title">Task Manager</div>
  <div style="flex-grow: 1;"></div>
  <div style="margin: 16px;">
      <button mat-button matTooltip="Add Task"  routerLink="/createTask" (click)="clicked()">
          <mat-icon>add</mat-icon>
      </button>
  </div>
  
  <div style="margin: 16px;">
      <button mat-button matTooltip="View Task" style="margin: 0; min-width: 0; padding: 0;" routerLink="/viewTask">
          <mat-icon>format_list_numbered_rtl</mat-icon>
      </button>
</div>
<div style="margin: 16px;">
  <button mat-button matTooltip="Status Details" style="margin: 0; min-width: 0; padding: 0;" routerLink="/taskDetail">
      <mat-icon>details</mat-icon>
  </button>
</div>

</mat-toolbar>


<!-- <div>


<button matTooltip="Add Task" mat-fab extended routerLink="/createTask" (click)="clicked()">
  <mat-icon>add</mat-icon>
</button>
<button matTooltip="View Task" mat-fab extended routerLink="/viewTask">
  <mat-icon>format_list_numbered_rtl</mat-icon>
</button>
<button  matTooltip="Status Details" mat-fab extended routerLink="/taskDetail">
  <mat-icon>details</mat-icon>
</button>

</div> -->
<router-outlet></router-outlet>
